@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>卡斯柯微信应用</title>
</head>
<body>
    <div>
        微信mock页 by<a href="http://2yuri.github.io">2yuri</a>
    </div>
</body>
</html>
