@{
    Layout = null;
}
@model List<WechatApp.Models.Notification>
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <title>通知公告</title>

    <link href="~/Contents/Styles/framework.css" rel="stylesheet" />
    <link href="~/Contents/Styles/style.css" rel="stylesheet" />
    <link href="~/Contents/Styles/owl.theme.css" rel="stylesheet" />
    <link href="~/Contents/Styles/swipebox.css" rel="stylesheet" />
    <link href="~/Contents/Styles/font-awesome.css" rel="stylesheet" />
    <link href="~/Contents/Styles/animate.css" rel="stylesheet" />

    <script src="~/Contents/Scripts/jquery.js"></script>
    <script src="~/Contents/Scripts/jqueryui.js"></script>
    <script src="~/Contents/Scripts/framework.plugins.js"></script>
    <script src="~/Contents/Scripts/custom.js"></script>
    <style type="text/css">
        img.responsive-image {
            margin-bottom: 2px;
        }
        p.notification-page-item {
            padding: 8px 20px 8px 10px;
            margin-bottom:10px;
        }
            p.notification-page-item i:first-child {
                height: 30px;
                width: 30px;
                line-height: 30px;
                font-size: 11px;
            }
    </style>

</head>
<body>
    <div id="preloader">
        <div id="status">
            <p class="center-text">
                页面加载中...
            </p>
        </div>
    </div>
    <div class="all-elements">
        <div id="content" class="snap-content">
            <div class="container material-box" style="padding:0 0">
                <img src="~/Contents/images/blog-header-announcement.gif" class="responsive-image"/>
            </div>
            <div class="notification-page">
                @foreach (var notification in Model) {
                    string i_class = notification.HasImage ? "fa fa-file-image-o" : "fa fa-file-text-o";
                    <text>
                <p class="notification-page-item material-box">
                    <i class="@i_class" style="background-color:#3B5998;"></i>
                    <em>
                        @notification.Title
                    </em>
                    <a href="#">阅读更多</a>
                    <a href="#">@notification.PublishDate.ToShortDateString()</a>
                </p>
                    </text>
                }
            </div>
        </div>
    </div>
</body>
</html>
